

    <% @notes.each do |note| %>

        <p id="index_title">
        	<strong><%= note.title %></strong><br>
        </p>
        <P div="index_content">
        	<%= truncate note.content, length: 25 %> <%= link_to 'Read more', note %>
        </P>  
    <% end %>