
<div id= "content">
    <% @notes.each do |note| %>
        <div class="content_wrapper">
            <strong><%= note.title %></strong><br>
            <div id="content-show">
               <%= truncate note.content, length: 50 %> <%= link_to 'Read more', note %>
            </div>
        </div>
    <% end %>
</div>