body
{
	margin: 0% 5%;
	background:#554d7d;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#logo{	
		float: left;
		position: absolute;
		background-color: red;
		border-bottom-left-radius: 10px;
		position: absolute;
		height: 55px;
		color: white;
	}

nav{
	background: #9078a8;
	margin-top: 25px;
	height: 55px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	}


nav ul{
	padding:20px;
	text-align: right;
	}

nav ul li{
	display:inline;
	margin:0px;
	font-size: 20px;
	}	

nav li a{
	text-decoration: none;
	color:white;
	padding: 5px 5px 15px 5px;
	}

nav li a:hover{
	background:#554d7d;
}

#links{
	margin-right:-5px;
	padding:5px;
}

#links li{
	display:inline;
	background-color: white;
	margin: 5px 5px 15px ;
	text-decoration: none;
	border-radius:5px;
}

#links li a{
	text-decoration: none;
	color:black;
	font-size:12px;
}

#content_all{
	float: left;

}
#content-show{
	
}
#content{
	display: inline;
}
#index_title{
float:right;
}

#index_content{
	border: 1px;
	width: 25%;
	height:150px;
	margin: 0px;
	background-color: rgba(0, 0, 0, 0.26);
	padding: 5px;
	border-radius:10px;
}

#show_title{
	color: white;
}

#show_content{
	border: 1px ;
	width: 50%;
	margin: 0px;
	color:white;
	background-color: rgba(0, 0, 0, 0.26);
	padding: 10px;
	border-radius:10px;
	text-align: justify;
}

#show_display{
	margin-left: 25%;
}

textarea#note_content
{
	width: 100%;
	height: 100%;
}

.content_wrapper{
	width:33%;
	display: block;
	float: left;
	height: 200px;
	overflow: hidden;
}